<div class="main-container">
  <div class="about-container">
  <div class="about-left">
    <h2>About Us</h2>
    <hr class="style-two">
     <p>
      <strong>Woodbine Products Co</strong> is located in Medina, Ohio, just 30 miles south of Cleveland. From our modern FDA approved facility we have been successfully developing and manufacturing premium hand-cleaner products for <strong style="color:#4590ff;">over 50 years</strong>.  Our original product, Pow'rKleen® Medicated Hand Cleaner, was developed in 1960 as a solution to the Ohio Surgeon General's search for a painless, non-allergenic skin cleanser that would remove grease and dirt while effectively protecting against infections in accident wound victims. Today we still continue that innovative tradition developing numerous new products including environmentally friendly Foam and PK Soyl Heavy Duty Hand Soap.<br><br>
      Our PK SOYL® Hand Cleaner product line is an all-natural, environmentally friendly soy oil-based hand cleaner. PK SOYL gently removes the toughest grease and grime without being harsh on the skin. Because of its attributes It’s gained a outstanding reputation in our industry for helping distributors open new business in the Hand Hygiene category.<br><br>
      Continued focus on plant improvements and innovations has allowed Woodbine to manufacture, market and distribute quality, competitively priced hand care solutions to a broad customer base. We provide both branded and private label products through automotive, janitorial, uniform rental, paper and food service distributors In The U.S. and Canada. Our experienced team of sales engineers can custom-tailor products and programs to meet any company's hand hygiene needs.<br><br>
     Get in touch today to find out how Woodbine Products Company can enhance your business. 
   </p>
   <div class="about-button">
    <%= link_to "Get In Touch", contact_path, class: 'discover-more' %>
   </div>
  </div>
  <div class="about-right">
    <img class="img-rounded" src="/assets/woodbine.jpg" alt="">
    <img class="img-rounded" src="/assets/warehouse.jpg" alt="">
   </div>
  </div>
</div>
