<div class="main-container">
  <div class="about-container">
  <div class="about-left">
    <h2>About Us</h2>
    <hr class="style-two">
     <p>
      <strong>Woodbine Products Co.</strong>, located in Medina, Ohio, 30 miles south of Cleveland, has been developing and manufacturing premium hand-cleaner products for <strong style="color:#4590ff;">over 50 years</strong>.  Our original product, Pow'rKleen® Medicated Hand Cleaner, was developed in 1960 as a solution to the Ohio Surgeon General's search for a painless, non-allergenic skin cleanser that would remove grease and dirt while effectively protecting against infections in accident wound victims.  Today we continue that innovative tradition and have added over 20 products to our line.<br><br>
      Our recent expansion allows us to manufacture, market and distribute our hand care products to our customer base of automotive, janitorial, uniform rental and paper distributors in the most modern and inventive manner.  Our team of sales engineers can custom-tailor products and programs to meet your company's hand-cleaner needs.<br><br>
      <strong>The PK SOYL® Hand Cleaner product line</strong> is an all-natural, environmentally friendly soy oil-based hand cleaner, which is the highest quality on the market today.  You'll feel the difference with our hand cleaner!<br><br>
     Get in touch today to find out how Woodbine Products Company can enhance your business. 
   </p>
   <div class="about-button">
    <%= link_to "Get In Touch", contact_path, class: 'discover-more' %>
   </div>
  </div>
  <div class="about-right">
    <img class="img-rounded" src="/assets/woodbine.jpg" alt="">
    <img class="img-rounded" src="/assets/warehouse.jpg" alt="">
   </div>
  </div>
</div>
