<div class="main-container">
  <div class="contact-container">
    <h2>Contact Us</h2>
    <hr class="style-two">
    <div class="contact-left">
      <h4>Help us out by filling in the form</h4>
      <%= render "layouts/message" %>
    </div>
    <div class="contact-right">
      <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=915+West+Smith+Rd+Medina,+OH+44256&amp;aq=&amp;sll=37.6,-95.665&amp;sspn=45.737719,74.179688&amp;ie=UTF8&amp;hq=&amp;hnear=915+W+Smith+Rd,+Medina,+Ohio+44256&amp;t=m&amp;z=14&amp;ll=41.136933,-81.892026&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=915+West+Smith+Rd+Medina,+OH+44256&amp;aq=&amp;sll=37.6,-95.665&amp;sspn=45.737719,74.179688&amp;ie=UTF8&amp;hq=&amp;hnear=915+W+Smith+Rd,+Medina,+Ohio+44256&amp;t=m&amp;z=14&amp;ll=41.136933,-81.892026" style="color:#0000FF;text-align:left">View Larger Map</a></small>
    </div>
  </div>
</div>
