<div class="main-container">
  <div class="heavy-duty-container">
  <h2>Pow'rKleen with Pumice Hand Cleaner</h2>
  <p>Pow'rKleen Pumice cream type waterless hand cleaner is formulated to remove the most stubborn dirt and stains while conditioning properties protect the skin</p>
  <table class="table table-bordered">
    <thead>
      <tr class="info">
        <th>Stock #</th>
        <th>Description</th>
        <th>Per Case</th>
        <th>Shipping Wt. (lbs)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>620T</th>
        <th>4 oz. tube</th>
        <th>24</th>
        <th>7</th>
      </tr>
      <tr>
        <th>621</th>
        <th>14 oz. can</th>
        <th>12</th>
        <th>12</th>
      </tr>
      <tr>
        <th>623</th>
        <th>4 - 1/2 lb. can dispenser</th>
        <th>6</th>
        <th>30</th>
      </tr>
      <tr>
        <th>624</th>
        <th>4 - 1/2 lb. can dispenser(ups)</th>
        <th>6</th>
        <th>22</th>
      </tr>
    </tbody>
  </table>
  <%= link_to "MSDS", 'MSDS1.pdf', class: 'contact-us', target: '_blank' %>
  <img src="/assets/pumice.jpg" alt="pumice">
  </div>
  </div>
</div>
