<div class="main-container">
  <div class="flexslider-container">
    <div class="flexslider">
      <ul class="slides">
        <li><img src="/assets/first-wash.jpg" alt=""></li>
        <li><img src="/assets/priv.jpg" alt=""></li>
        <li><img src="/assets/industry.jpg" alt=""></li>
        <li><img src="/assets/green.jpg" alt=""></li>
      </ul>
    </div>
  </div>
</div>
<!-- mid section -->
<div class="container-two">
  <div class="container-two-inside">
    <h1>Woodbine Products</h1>
    <hr class="style-three">
    <p>Woodbine Products is a leading Manufacturer of Branded and Private label Hand Soaps, Sanitizers, and Dispensing  Systems for the Commercial ‘Away From Home Market.  Our business is built around an uncompromising commitment to partner with Distributors to provide innovative products, programs plus exceptional service.  As a result of our customer focus we have achieved 50 years of  constant growth.<br><br>
      Today Woodbine remains a trusted supplier of high performance hand cleaning and sanitizing products for business throughout the United States and Canada. This includes Foam, Liquid, and Heavy Duty Hand Soaps, Foam and Gel Sanitizers along with a wide range of dispensing systems and packaging options.  Our state of the art manufacturing Plant is a FDA approved facility.  It is recognized for a range of innovations in the development of all Natural environmentally friendly Foam and Heavy Duty Hand Soaps for commercial facilities.
    </p>
    <div class="contact-button-container">
      <%= link_to 'Get In Touch', contact_path, class: 'contact-us' %>
    </div>
  </div>
</div>
<!-- bottom section, not to be confused with footer -->
<div class="woodbine-home-logos">
  <h2>Organizations</h2>
  <div class="logo-list"> 
    <ul>
      <li><a href="http://www.google.com" target="_blank"><img src="/assets/logos/one.jpg" alt=""></a></li>
      <li><img src="/assets/logos/two.jpg" alt=""></li>
      <li><img src="/assets/logos/three.jpg" alt=""></li>
      <li><img src="/assets/logos/five.jpg" alt=""></li>
    </ul>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $(window).load(function() {
        $('.flexslider').flexslider();
      });
</script>
