<div class="main-container">
  <div class="flexslider-container">
    <div class="flexslider">
      <ul class="slides">
        <li><img src="/assets/hand.jpg" alt=""></li>
        <li><img src="/assets/industry.jpg" alt=""></li>
        <li><img src="/assets/green.jpg" alt=""></li>
      </ul>
    </div>
  </div>
</div>
<!-- mid section -->
<div class="woodbine-home-logos">
  <hr class="style-four">
  <h2>Organizations</h2>
  <div class="logo-list"> 
    <ul>
      <li><img src="/assets/logos/one.jpg" alt=""></li>
      <li><img src="/assets/logos/two.jpg" alt=""></li>
      <li><img src="/assets/logos/three.jpg" alt=""></li>
      <li><img src="/assets/logos/four.jpg" alt=""></li>
      <li><img src="/assets/logos/five.jpg" alt=""></li>
    </ul>
  </div>
</div>
<!-- section two -->
<div class="container-two">
  <div class="container-two-inside">
    <h1>Woodbine Products</h1>
    <hr class="style-three">
    <p>Woodbine is a leader in both Branded and Private label hand cleaning foam, liquids, 
      soaps, and foam and gel sanitizer solutions for the away from Home Market. Out commitment to partnering with out distributors has resulted in continued successful sales growth for us and our clients over the past 50 plus years.<br><br>
      We formulated and developed high performance hand-cleaning products for businesses throughout the US and Canada. Our manufacturing plant is FDA approved facility, recognized for such innovations as developing the first Heavy Duty all natural hand cleaner to carry the US environmental Protection Agency's Design for the environment(DFE) label. Our associates are committed to provide products and service that generate year over year superior performance for each and every Woodbine Products Customer.
    </p>
    <div class="contact-button-container">
      <%= link_to 'Get In Touch', contact_path, class: 'contact-us' %>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $(window).load(function() {
        $('.flexslider').flexslider();
      });
</script>
