<div class="msds-padding">
<div class="msds-section-one">
      <div class="msds-overlay">
        <div class="msds-one-container">
          <h1><span>M.S.D.S</span> Database</h1><br>
          <p>Search for material satey data sheets to all our products</p>
        </div>
      </div>
    </div>
  </div>
<div class="acc-container">
  <div class="accordion" id="accordion2">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">Industrial Water-Activated</a>
      </div>
      <div id="collapseOne" class="accordion-body collapse in">
        <div class="accordion-inner">
          <% @product_s.where(:category => "Water-Activated").find_each do |product| %>
            <h4><%= product.name %><br></h4>
            <%= link_to 'View Product MSDS', product.doc.url, class: 'btn btn-success', target: "_blank" %>
          <% end %>
        </div>
      </div>
    </div>

        </div>
      </div>
    </div>
    
</div>
<script>
  $('.collapse').collapse();
</script>
  
  <div class="the-list">  
</div>

