<div class="main-container">
  <div class="private-container">
    <h1>Private Label</h1>
    <p><strong>Woodbine</strong> specializes in programs for <strong>Textile, Industrial, JanSan and Food Service companies</p>
      <div class="private-image-container">
        <h2>3 Easy Steps</h2>
        <ol>
          <li>Select Product Mix of Soap & Sanitizers</li>
          <li>Select Type of Dispenser</li>
          <li>Provide Logo...We do the rest!</li>
        </ol>
        <img src="/assets/private-label.png" alt="">
      </div>
  </div>
</div>
