<div class="private-padding">
  <div class="private-container">
    <div class="private-container-overlay">
      <div class="private-container-inner">
        <h1>Private Label<span> | just <span>3 easy steps</span></span></h1>
          <p>Promote your company and brand, we specialize in private label programs with low minimums, competitive prices and short lead times for the textile, tool, JanSan and food service industries.</p>
      </div>
    </div>
  </div>
</div>
<div class="private-container-main">
  
  <div class="private-container-one">
    <a id="step-one">Step one</a>
    <div class="p-one-contain">
      <p class="one">Select Products</p>
      <img class="one" src="/assets/cart-size.png" alt="">
    </div>
  </div>

  <div class="private-container-one">
    <a id="step-two"> Step two</a>
    <div class="p-one-contain">
      <p class="two">Select Dispensing system</p>
      <img class="two" src="/assets/disp-size.png" alt="">
    </div>
  </div>

  <div class="private-container-one">
    <a id="step-three">Step Three</a>
    <div class="p-one-contain">
      <p class="three">Provide us your logo...We do the rest</p>
  
    </div>
  </div>
</div>


<!--
<li>Select Product Mix of Soap & Sanitizers</li>
          <li>Select Type of Dispenser</li>
          <li>Provide Logo...We do the rest!</li>
          -->

