<div class="private-padding">
<div class="private-container">
  <div class="private-container-overlay">
    <div class="private-container-inner">
      <h1>Private Label<span> | just 3 easy steps</span></h1>
      <p>Promote your Company and Brand, we specialize in Private Label programs with low minimums, competitive prices and short lead times for the Textile, Tool, JanSan and Food Service Industries.</p>
      <div class="private-animate"> 
    <div class="private-container-left">
    <ul>
      <li id="step-one">STEP ONE</li>
      <li id="step-two">STEP TWO</li>
      <li id="step-three">STEP THREE</li>
    </ul>
  </div>
  <div class="private-container-middle">
    <ul>
      <li class="one">Select Product Mix of Soap and Sanitizers</li>
      <li class="two">Select Dispenser style to match your design</li>
      <li class="three">Provide us your logo...We do the rest</li>
    </ul>
  </div>
  <div class="private-container-right">
    <ul>
      <li class="one"><img class="img-circle" src="/assets/cart-size.png" alt=""></li>
      <li class="two"><img class="img-circle" src="/assets/disp-size.png" alt=""></li>
      <li class="three"><%= link_to "Get Started", contact_path, class: 'contact-us' %></li>
    </ul>
  </div>
</div>
</div>
</div>
</div>
</div>



<!--
<li>Select Product Mix of Soap & Sanitizers</li>
          <li>Select Type of Dispenser</li>
          <li>Provide Logo...We do the rest!</li>
          -->
