<div class"coming-soon">
  <div class="coming-soon-inner">
    <h1>Woodbine Products</h1><br><br>
    <p>We are currently under maintenance to make our site better for you!  Please be patient and we will be back soon! If you need to make an order or have an request please email or call!  Thank you</p><br><br>
    <h2>800-824-8179 or info@woodbineproducts.com</h2>
  </div>
</div>
