<h1>Editing dispenser</h1>
<div class="edit-dispenser" style="padding-top:140px;margin:0 auto;width:900px">
  <%= render 'form' %>
</div>

<%= link_to 'Show', @dispenser %> |
<%= link_to 'Back', dispensers_path %>
