@import "bootstrap";
/*universal css for woodbine products company*/
/* colors */
$blue:#4590ff;
$bluelightt:#1ba4ff;

/* custom fonts */
@font-face {
  font-family:casper;
  src: url('/assets/Casper.ttf');
}
@font-face {
  font-family:Nexa-bold;
  src: url('/assets/Nexa Bold.otf');
}
@font-face {
  font-family:cassa;
  src: url('/assets/Cassannet.otf');
}

header {
  position:fixed;
  width:100%;
  height:105px;
  padding-top:4px;
  z-index:999;
  background-color:#fff;
}

.logo {
  float:left;
  img {
  float:left;
  margin-right:10px;
  }
  width:655px;
  height:100%;
  h3, h4 {
  display:inline;
  font-family:Nexa-bold;
  }
  h3 {
  color:$blue;
  }
  h4 {
  color:gray;
  font-family:cassa;
  span{
  font-size:20px;
  }
  }
}

.logo-titles {
  padding-top:28px;
}

.header-info{
  float:right;
  padding-top:15px;
  h6{
  display:inline;
  color:rgba(107,107,107,1);
  font-family:cassa;
  }
}

.header-container {
  margin: 0 auto;
  width:900px;
  height:100%;
}

.phone:before {
  content: "\2706";
}

/* nav */

.navbar-inner-container {
  margin:0 auto;
  width:900px;
}

.navbar-inner {
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(27,164,255,1)), to(rgba(44,179,255,1)));
  background-image: -webkit-linear-gradient(top, rgba(27,164,255,1), rgba(0,102,255,1));
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(to bottom, rgba(27,164,255,1), rgba(44,179,255,1));
}

.navbar .nav > li > a{
  color:#fff;
  text-decoration:none;
  text-shadow:none;
  &:hover {
  color:#fff;
  background:rgba(90, 194, 253, 1);
  
  //background:#2cb3ff;
  }
}

.order {
  float:right;
}

/* home page */

.main-container {
  margin: 0 auto;
  width:900px;
  padding-top:149px;
}

.flexslider-container{
  margin:0 auto;
  width:670px;
  height:380px;
  margin-top:55px;
}

.container-two {
  width:100%;
  height:545px;
  background-color:#4590ff;
}

.container-two-inside{
  margin:0 auto;
  width:900px;
  padding-top:50px;
  h1 {
  text-align:center;
  font-size:45px;
  font-weight:bold;
  color:rgba(255,255,255,0.6);
  }
  p {
  font-size:17px;
  color:#fff;
  letter-spacing:1px;
  margin-bottom:60px;
  }
}

.contact-button-container{
  width:169px;
  margin:0 auto;
}
.contact-us {
  margin-top:40px;
  background-color:#65c31f;
  font-family:sans-serif;
  font-size:20px;
  font-weight:normal;
  text-shadow:0 1px 3px rgba(0,0,0,0.5);
  padding:12px 26px;
  text-align:center;
  color:white;
  border-radius:4px;
  background-image: -webkit-linear-gradient(#94d52d,#65c31f);
  background-image: -o-linear-gradient(#94d52d,#65c31f);
  background-image: -ms-linear-gradient(#94d52d,#65c31f);

  border-color:#57af17;
}.contact-us:hover {
  text-decoration:none;
  color:white;
}

.contact-left {
  float:left;
  padding:18px;
  background-color:$blue;
  border-radius:20px;
  label {
  color:#fff;
  }
  h4 {
  color:rgba(255,255,255,0.9);
  margin-bottom:20px;
  }
}
.contact-right {
  float:right;
  width:400px;
  margin-right:40px;
}

.woodbine-home-logos {
  width:100%;
  height:190px;
  background:#fff;
  border-bottom:1px solid black;
  text-align:center;
}

.woodbine-home-logos h2 {
  color:gray;
  font-weight:lighter;
  text-transform:uppercase;
}

.logo-list {
  margin: 0 auto;
  width:800px;
  height:40px;
}

.logo-list ul {
  float:left;
}

.logo-list ul li {
  list-style:none;
  float:right;
  margin-right:49px;
}



/* about page */
.about-container {
  padding-top:65px;
}
.about-left {
  float:left;
  width:500px;
  height:100%;
  h2{
  color:rgba(83,83,83,1);
  }
}
.about-right {
  float:right;
  width:350px;
  height:100%;
  padding-top:20px;
  img {
  -webkit-box-shadow:3px 3px 7px 1px gray;
  }
  img:first-child{
  margin-bottom:20px;
  }
}
.about-button {
  margin:0 auto;
  padding-top:45px;
  width:200px;
  height:200px;
}

/* contact */

.contact-container {
  padding-top:170px;
  margin:0 auto;
  width:900px;
  display:block;
}

.contact-button {
  width:100px;
  display:block;
  padding-left:322px;
}

.contact-detail {
  float:left;
  padding-top:50px;
  width:300px;
}
.contact-detail span {
  color:gray;
}

.contact-detail-header {
  height:28px;
  padding-top:10px;
  background-color:tomato;
  text-align:center;
  text-transform:uppercase;
  color:#FFF;
  border-radius:5px;
}

address {
  padding-top:16px;
  color:gray;
  text-transform:uppercase;
}

label {
  color:gray;
}

.contact-inquire {
  width:384px;
  float:right;
  padding-top:50px;
}

.contact-inquire-container {
  padding-right:100px;
}

.contact-inquire-header {
  float:right;
  width:305px;
  height:28px;
  background-color:tomato;
  text-align:center;
  padding-top:10px;
  margin-bottom:20px;
  border-radius:5px;
}

.contact-inquire-header p {
  text-transform:uppercase;
  color:white;
}

.contact-map {
  width:900px;
  height:400px;
  display:inline-block;
}

/* msds */

.msds-container {
  margin:0 auto;
  width:900px;
  height:1980px;
}

.msds-padding {
  padding-top:149px;
}

.msds-section-one {
  width:100%;
  height:270px;
  background:url('/assets/msds-wide.png')center no-repeat;
}

.msds-overlay {
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.5);
}

.msds-hack {
  margin:0 auto;
  padding-top:60px;
  padding-left:20px;
  width:900px;
}

.msds-left {
  float:left;
  height:145px;
  width:450px;
  padding-top:11px;
  padding-left:50px;
  h1 {
  margin-bottom:-15px;
  color:rgba(255,255,255,0.6);
  span {
  font-weight:lighter;
  }
  }
  p{
  color:#fff;
  font-weight:bolder;
  }
}
.msds-right {
  float:right;
  height:50px;
  width:192px;
  padding-top:32px;
  padding-right:188px;
  span {
  color:#fff;
  }
}

.msds-Heavy, .msds-Sani, .msds-Foam, .General {
  margin:0 auto;
  padding-top:50px;
  h1 {
  color:$blue;
  margin-bottom:30px;
  &:hover {text-decoration:none;}
  }
  ul li {
  list-style:none;
  margin-bottom:25px;
  }
}

/* private label */

.private-padding {
  padding-top:149px;
}

.private-container {
  background:url('/assets/private-background.png') center no-repeat;
  height:270px;
  width:100%;
}

.private-container-overlay {
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.6);
}

.private-container-inner {
  margin:0 auto;
  width:900px;
  height:930px;
  padding-top:45px;
  text-align:center;
  p {
    color:#fff;
    font-size:16px;
    width:765px;
    margin:0 auto;
    letter-spacing:2px;
  }
}

.private-container-inner h1 {
  color:#fff;
  font-size:30px;
  text-transform:uppercase;
  font-weight:lighter;
  line-height:63px;
  letter-spacing:3px;
  span {
  font-size:18px;
  color:rgba(255,255,255,0.7);
  span {
  color: #fff;
  }  
  }
}

.private-container-main {
  margin:0 auto;
  width:900px;
  height:600px;
}

.private-container-one {
  margin:0 auto;
  padding-top:30px;
  width:700px;
  text-align:center;
}

.private-container-one a {
  padding:10px 250px;
  text-decoration:none;
  text-transform: uppercase;
  background:#1ba4ff;
  border-radius:5px;
  font-family:sans-serif;
  font-size:18px;
  color:#fff;
  &:hover {
  cursor:pointer;
  background: #2cb3ff;
  }
}

.private-container-one a:last-child {
   margin-top:40px;
  background-color:#65c31f;
  font-family:sans-serif;
  font-size:20px;
  font-weight:normal;
  text-shadow:0 1px 3px rgba(0,0,0,0.5);
  padding:12px 26px;
  text-align:center;
  color:white;
  border-radius:4px;
  background-image: -webkit-linear-gradient(#94d52d,#65c31f);
  background-image: -o-linear-gradient(#94d52d,#65c31f);
  background-image: -ms-linear-gradient(#94d52d,#65c31f);

  border-color:#57af17;
}

.p-one-contain {
  padding-top:20px;
  padding-left:40px;
}

.p-one-contain p {
  padding-top: 60px;
  padding-left: 18px;
  float:left;
  color:rgba(85,183,214,0.89);
  font-size:23px;
  font-family:sans-serif;
}

.p-one-contain-contact {
  padding-top:60px;
}



/* resources */

.resource-header-padding {
  padding-top:148px;
}

.resource-header {
  width:100%;
  background:url("/assets/guy.png") center no-repeat;
  height:270px;
}
.resource-overlay {
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.6);
}
.resource-nav {
  margin: 0 auto;
  width:900px;
  text-align:center;
  padding-top:75px;
  h2 {
  color:$blue;
  margin-bottom:25px;
  span{
  font-weight:lighter;
  }
  }
    ul {
      margin-left:261px;
  li {
  float:left;
  color:#fff;
  font-size:18px;
  list-style:none;
  margin-left:30px;
  a {
  cursor:pointer;
  color:#fff;
  }a:hover{
  color:lightgray;
  }
  span {
  width:20px;
  color:gray;
  margin-right:5px;
  margin-left:22px;
  }
  }
}
}

.resource-container {
  margin:0 auto;
  width:900px;
  padding-top:70px;
  h1 {
  color:$blue;
  font-weight:lighter;
  }
  hr {
  margin-bottom:30px;
  }
}

.literature-section {
  ul {
  float:left;
  li {
  margin-bottom:10px;
  list-style:none;
  }
  }
}

.media-container {
  float:left;
  width:900px;
  padding-top:70px;

}

.media-inner-container {
  margin:0 auto;
  height:380px;
  width:620px;
}

.prevent-container {
  float:left;
  width:900px;
  padding-top:85px;
  ul {
  }
}

.prevent-center {
  width:800px;
  margin:0 auto;
}

.prevent-left {
  float:left;
  width:400px;
  ul {
  li{
  margin-top:20px;
  }
  }
}

.prevent-right {
  float:right;
  width:400px;
  ul {
  li {
  margin-top:20px;
  }
  }
}

/* heavy duty */

.heavy-duty-container {
  padding-top:20px;
  width:900px;
}
.heavy-duty-container h2 {
  margin-bottom:20px;
}
.heavy-duty-container p {
  margin-bottom:20px;
}
.heavy-duty-container a {
  margin-right:10px;
  float:left;
}
.heavy-duty-container img {
  float:right;
}

/* footer */
footer {
  position:fixed;
  bottom:0;
  border-top:1px solid lightgray;
  background-color:#ebebeb;
  width:100%;
  height:35px;
}

.footer-container {
  margin:0 auto;
  padding-top:10px;
  width:900px;
  height:100%;
  text-align:center;
  font-family:cassa;
  color:#fff;
  color:rgba(80,80,80,1);
}
.footer-left{
  float:left;
  width:50%;
}
.footer-right{
  float:right;
  width:242px;
  ul li {
  list-style:none;
  float:left;
  margin-top:10px;
  }
  h3 {
  margin-left:64px;
  margin-bottom:-2px;
  }
}
#one, #two, #three, #four {
  height:20px;
  width:20px;
  border-radius:100%;
  background-color:gray;
  display:inline;
  &:hover {
  cursor:pointer;
  background-color:$blue;
  }
}

.footer-right-inside {
  float:right;
  width:150px;
  height:150px;
  padding:15px;
  background-color:#fff;
  border:1px solid rgba(0,0,0,0.28);
  border-radius:10px;
}

/* universal styles and bs */

.navbar-inner {
  border:none;
}

hr.style-three {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
    background-image:    -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
    background-image:     -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
    background-image:      -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
    margin-bottom:45px;
}

  hr.style-two {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

/* Double-color dashed line */
		
hr.style-four {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

.discover-more {
  margin-top:60px;
  background-color:#65c31f;
  font-family:sans-serif;
  font-size:20px;
  font-weight:normal;
  text-shadow: 0 1px 3px rgba(0,0,0,0.5);
  padding:12px 26px;
  text-align:center;
  color:white;
  border-radius:4px;
  border-color:#57af17;
  background-image: -webkit-linear-gradient(rgba(27,164,255,1), rgba(0,102,255,1));
  background-image: -o-linear-gradient(#94d52d,#65c31f);
  background-image: -ms-linear-gradient(#94d52d,#65c31f);
}.discover-more:hover{
  text-decoration:none;
  color:white;
}


/* bootstrap overide */

.navbar .nav li.dropdown.open > .dropdown-toggle {
  background-color:white;
  &:hover {
  cursor:pointer;
  }
}

.dropdown-toggle:hover {
  cursor:pointer;
}

.dropdown-menu >  li > a:hover {
  background-color: white;
}


/* universal */

.info {
  background: #69c3ff;
}
