<footer>
<div class="footer-container">
  <div class="footer-left">
    <p>&copy; Woodbine Products Company</p>
  </div>
  <div class="footer-right">
    <div class="footer-right-inside">
      <img class="one" src="/assets/logos/logo-one.png" alt="">
      <img class="two" src="/assets/lgogs/logo-two.png" alt="">
      <img class="three" src="/assets/logos/logo-three.png" alt="">
    </div>
    <ul>
      <li id="one"></li>
      <li id="two"></li>
      <li id="three"></li>
    </ul>
  </div>
</div>
</footer>
