<footer>
<div class="footer-container">
  <p>&copy; Woodbine Products Company</p>
  <!-- maybe later 
  <div class="footer-right">
    <h3>Organizations</h3>
    <div class="footer-right-inside">
      <img class="one" src="/assets/logos/logo-one.png" alt="">
      <img class="two" src="/assets/logos/logo-two.png" alt="">
      <img class="three" src="/assets/logos/logo-three.png" alt="">
      <img class="four" src="/assets/logos/logo-four.png" alt="">
    </div>
    <ul>
      <li id="one"></li>
      <li id="two"></li>
      <li id="three"></li>
      <li id="four"></li>
    </ul>
  </div>
  -->
  <%= link_to 'admin login', login_path, class: "btn btn-success" %>
</div>
</footer>
