<header>
<div class="header-container">
  <div class="logo">
    <%= link_to image_tag('/assets/logo.png'), root_path %>
    <div class="logo-titles">
      <h3>Skin Cleaning Solutions</h3>
      <h4>| From <span>Woodbine Products</span></h4>
    </div>
  </div>
  <div class="header-info">
    <h6>915 West Smith Rd</h6><br>
    <h6>Medina, OH 44256</h6><br>
    <h6 class="phone">800-824-8179</h6>
  </div>
</div>
<%= render 'layouts/nav' %>
</header>
